<div class="bg-loading vh-100 vw-auto d-flex justify-content-center align-items-center flex-column">
    <div class=" cocktail-img d-flex justify-content-center align-items-center"> 
        <img class="w-75 cocktail-ligth" src="../../../assets/cooktail.webp" alt="loading">
    </div>
    
      <div class="d-flex container-loading-logo mt-4">
        <div class="d-flex lol justify-content-center align-items-center">
            <div class="w-auto d-flex justify-content-center">
                <img class="logo" src="../../../assets/LogoTempest.png" alt="logo">
            </div>
            <div class="z-1 position-absolute d-flex">
                <div class="  vw-auto spinner-border text-danger " style="width: 6rem; height: 6rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
            <div class="z-1 position-absolute d-flex">
                <div class="  vw-auto spinner-border text-primary " style="width: 8rem; height: 8rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
            
          </div>
          <h1 class="fw-bold letter-margin"> <span class="letter-loading me-2">COCKTAIL  </span><span class="letter-loading-end">APP</span></h1>
        </div>
</div>
